
@{
    ViewBag.Title = "Index";
    
}
<script src="~/Contents/scripts/Controllers/UserController.js"></script>
<div class="row" ng-controller="UserController as vm">


        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="glyphicon glyphicon-list"></i>
                    </div>
                    <h4 class="card-title">User List</h4>
                </div>
                <div class="card-body  ">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th class="hidden">
                                        User ID
                                    </th>
                                    <th class="text-info">
                                      User Name
                                    </th>
                                    <th class="text-info">
                                        Full Name
                                    </th>
                                 
                                    <th class="text-info" ng-show="vm.IsMaster">
                                        Is Master
                                    </th>
                                    
                                    <th class="text-info">
                                        Actions
                                    </th>

                                   
                            </thead>
                            <tbody>
                                <tr ng-repeat="u in vm.UserList">
                                    <td class="hidden">
                                        {{u.UserID}}
                                    </td>
                                    <td>
                                        {{u.UserName}}
                                    </td>
                                    <td>
                                        {{u.FullName}}
                                    </td>
                                 
                                    <td ng-show="vm.IsMaster">
                                       <i ng-show="{{u.IsMaster}}" class="glyphicon glyphicon-ok"></i> 
                                    </td>
                                 
                                    <td>
                                        <button class="btn btn-just-icon btn-link " ng-click="vm.Edit(u)">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-link " ng-click="vm.RemoveUser(u.UserID)" ng-show="vm.IsMaster">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>


                                    </td>
                                


                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    

   
    <div class="col-sm-6">
        <div class="card ">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon" >
                    <i class="glyphicon glyphicon-edit"></i>
                </div>
                <h4 class="card-title"> Edit User</h4>
            </div>
            <div class="card-body ">
                <form method="post" class="form-horizontal" id="UserEditForm" name="UserForm">




                    <div class="row">
                        <label class="col-lg-3 col-form-label">User Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control"  required ng-model="vm.eUser.UserName" name="UserName">
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-lg-3 col-form-label">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control"  required ng-model="vm.eUser.Password" name="Password"  >
                            @*<p ng-show="UserForm.Password.$dirty && UserForm.Password.$invalid">Length should be 5 to 8</p>*@
                            @*<p ng-show="UserForm.Password.$dirty && UserForm.Password.$error.required">Its required</p>*@

                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-3 col-form-label">Confirm Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control"  required ng-model="vm.eUser.ConfirmPassword" name="ConfirmPassword">
                        </div>
                    </div>
                    <div class="row" ng-show="vm.IsMaster">
                        <label class="col-lg-3 col-form-label">Is Master</label>
                        <div class="col-lg-1">
                            <input type="checkbox" class="form-control" required ng-model="vm.eUser.IsMaster"  name="IsMaster">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-3 col-form-label">Full Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control"  required ng-model="vm.eUser.FullName" name="FullName">
                        </div>
                    </div>
                    <div>
                        <div class="col-lg-3 float-left ">
                        </div>
                        <div class="col-lg-9 float-lg-right ">
                            <button type="button" class="btn btn-info" ng-click="vm.UpdateUser()">
                                <i class="glyphicon glyphicon-edit"> Update</i>
                            </button>
                        </div>
                    </div>



                </form>
            </div>
           

        </div>
    </div>
    <div class="col-sm-6 float-right" ng-show="'@(ViewBag.IsMaster)'">
        <div class="card ">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="glyphicon glyphicon-plus"></i>
                </div>
                <h4 class="card-title"> Create New User</h4>
            </div>
            <div class="card-body ">
                <form method="post" class="form-horizontal" id="UserAddForm" name="UserForm">




                    <div class="row">
                        <label class="col-lg-3 col-form-label">User Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" required ng-model="vm.aUser.UserName" name="UserName">
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-lg-3 col-form-label">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control"  required ng-model="vm.aUser.Password" name="Password">
                            @*<p ng-show="UserForm.Password.$dirty && UserForm.Password.$invalid">Length should be 5 to 8</p>*@
                            @*<p ng-show="UserForm.Password.$dirty && UserForm.Password.$error.required">Its required</p>*@

                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-3 col-form-label">Confirm Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control"  required ng-model="vm.aUser.ConfirmPassword" name="ConfirmPassword">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-3 col-form-label">Is Master</label>
                        <div class="col-lg-1">
                            <input type="checkbox" class="form-control"  ng-model="vm.aUser.IsMaster" ng-show="vm.IsMaster" name="IsMaster">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-3 col-form-label">Full Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control"  required ng-model="vm.aUser.FullName" name="FullName">
                        </div>
                    </div>
                    <div>
                        <div class="col-lg-3 float-left ">
                        </div>
                        <div class="col-lg-9 float-lg-right ">
                            <button type="button" class="btn btn-info" ng-click="vm.AddUser()">
                                <i class="glyphicon glyphicon-plus"> Create </i>
                            </button>
                        </div>
                    </div>



                </form>
            </div>
           

        </div>
    </div>
   
</div>